h1{
    color:tomato;
}
p{
    color:slateblue;
}

.imagen{
    background-color: rgba(255,0,0,0.3);
    background-image: url("the_cactus_gamer_by_killapro068-daxjqyf.png");
    height:700px;
    background-size:200px 200px;
    background-repeat:repeat-y;
    background-position:right top;
    
}